<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AXErTEX</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container sn-scope">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
<!--             <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li> -->
          </ul>
        </nav>
        <h3 class="text-muted">AXErTEX</h3>
      </div>

      <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#person" aria-controls="person" role="tab" data-toggle="tab">Персона</a></li>
          <li role="presentation"><a href="#user" aria-controls="user" role="tab" data-toggle="tab">Пользователь</a></li>
          <li role="presentation"><a href="#position" aria-controls="position" role="tab" data-toggle="tab">Должность</a></li>
          <li role="presentation"><a href="#department" aria-controls="department" role="tab" data-toggle="tab">Отдел</a></li>
          <li role="presentation"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Компания</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- ПЕРСОНА -->
          <div role="tabpanel" class="tab-pane active" id="person"> 
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Имя</th>
                  <th>Фамилия</th>
                  <th>Отчество</th>
                  <th>E-mail</th>
                  <th>Телефон</th>
                </tr>
              </thead>
              <tbody>
                <tr onclick="Events.model.getForUpdate(event, this)" data-data="Person" class="templater-snjs from-edit-model sn-clock" id="row-{% _meta.model_name %}-{% _meta.index %}" data-tmpl-up="#persone_form_update" sn-repeat="Person.objects" data-target="#persone_form, #persone_form_update">
                  <td data-name-sn="id">{% id %}</td>
                  <td data-name-sn="first_name">{% first_name %}</td>
                  <td data-name-sn="last_name">{% last_name %}</td>
                  <td data-name-sn="middle_name">{% middle_name %}</td>
                  <td data-name-sn="email">{% email %}</td>
                  <td data-name-sn="phone_number">{% phone_number %}</td>
              </tbody>
            </table> 
            <form class="sn-ajax_sender bodyhide" style="display:none;" action="" id="persone_form_update" method="post" enctype="multipart/form-data" data-data="Person" data-type="update" role="form">
              <input type="hidden" name="id" class="form-control not-aothw" value="{% id %}">
              <table class="table"><input type="hidden" name="id" class="form-control not-aothw" value="{% id %}">
                <tbody>
                  <tr>
                    <td colspan="2">
                      <input type="text" name="first_name" class="form-control not-aothw" value="{% first_name %}" placeholder="Имя">
                    </td>
                    <td><input type="text" name="last_name" class="form-control not-aothw"value="{% last_name %}" placeholder="Фамилия"></td>
                    <td><input type="text" name="middle_name" class="form-control not-aothw" value="{% middle_name %}" placeholder="Отчество"></td>
                    <td><input type="email" name="email" class="form-control not-aothw" value="{% email %}" placeholder="E-mail"></td>
                    <td><input type="text" name="phone_number" class="form-control not-aothw" value="{% phone_number %}" placeholder="Телефон"></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-right">
                      <button class="btn btn-danger" data-parent="form" onclick="Events.model.deleteModelObject(event, this)" data-id="{% id %}" data-modelname="{% modelname %}">Удалить</button>
                      <button type="submit" class="btn btn-success">Сохранить</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
            <div class="text-center"><a href="#" class="opener-sn" data-target="#persone_form">Добавить</a></div>
            <form class="sn-ajax_sender bodyhide" style="display:none;" action="" id="persone_form" method="post" enctype="multipart/form-data" data-data="Person" data-type="create" role="form">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2">
                      <input type="text" name="first_name" class="form-control not-aothw" value="Григорий" placeholder="Имя">
                    </td>
                    <td><input type="text" name="last_name" class="form-control not-aothw"value="Гельцин" placeholder="Фамилия"></td>
                    <td><input type="text" name="middle_name" class="form-control not-aothw" value="Алекссевич" placeholder="Отчество"></td>
                    <td><input type="email" name="email" class="form-control not-aothw" value="gr@gmail.com" placeholder="E-mail"></td>
                    <td><input type="text" name="phone_number" class="form-control not-aothw" value="+7(495)555-55-55" placeholder="Телефон"></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-right">
                      <button type="submit" class="btn btn-primary">Отправить</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>

          <!-- ПОЛЬЗОВАТЕЛЬ -->
          <div role="tabpanel" class="tab-pane" id="user"> 
            USER
          </div>
          <!-- ДОЛЖНОСТЬ -->
          <div role="tabpanel" class="tab-pane" id="position"> 
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Должность</th>
                  <th>Зарплата</th>
                </tr>
              </thead>
              <tbody>
                <tr onclick="Events.model.getForUpdate(event, this)" data-data="Position" class="templater-snjs from-edit-model sn-clock" id="row-{% _meta.model_name %}-{% _meta.index %}" data-tmpl-up="#position_form_update" sn-repeat="Position.objects" data-target="#position_form, #position_form_update">
                  <td data-name-sn="id">{% id %}</td>
                  <td data-name-sn="position_name">{% position_name %}</td>
                  <td><span data-name-sn="salary">{% salary %}</span> руб</td>
                </tr>
              </tbody>
            </table>
            <form class="sn-ajax_sender bodyhide" style="display:none;" action="" id="position_form_update" method="post" enctype="multipart/form-data" data-data="Position" data-type="update" role="form">
              <input type="hidden" name="id" class="form-control not-aothw" value="{% id %}">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2">
                      <input type="text" name="position_name" class="form-control not-aothw" value="{% position_name %}" placeholder="Должность">
                    </td>
                    <td>
                      <input type="text" name="salary" class="form-control not-aothw" value="{% salary %}" placeholder="Зарплата">
                    </td>
                  <tr>
                    <td colspan="6" class="text-right">
                      <button class="btn btn-danger" data-parent="form" onclick="Events.model.deleteModelObject(event, this)" data-id="{% id %}" data-modelname="{% modelname %}">Удалить</button>
                      <button type="submit" class="btn btn-success">Сохранить</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
            <div class="text-center"><a href="#" class="opener-sn" data-target="#position_form">Добавить</a></div>
            <form class="sn-ajax_sender bodyhide" style="display:none;" action="" id="position_form" method="post" enctype="multipart/form-data" data-data="Position" data-type="create" role="form">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2">
                      <input type="text" name="position_name" class="form-control not-aothw" value="" placeholder="Должность">
                    </td>
                    <td><input type="text" name="salary" class="form-control not-aothw" value="" placeholder="Зарплата"></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-right">
                      <button type="submit" class="btn btn-primary">Отправить</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
          <!-- КОМПАНИЯ -->
          <div role="tabpanel" class="tab-pane" id="company"> 
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Название</th>
                  <th>Описание</th>
                  <th>Логотип</th>
                </tr>
              </thead>
              <tbody>
                <tr onclick="Events.model.getForUpdate(event, this)" data-data="Company" class="templater-snjs from-edit-model sn-clock" id="row-{% _meta.model_name %}-{% _meta.index %}" data-tmpl-up="#company_form_update" sn-repeat="Company.objects" data-target="#company_form, #company_form_update">
                  <td data-name-sn="id">{% id %}</td>
                  <td data-name-sn="company_name">{% company_name %}</td>
                  <td data-name-sn="description">{% description %}</td>
                  <td><span data-name-sn="logo" style="display: none;">{% logo %}</span><img src="{% logo %}"></td>
                </tr>
              </tbody>
            </table>
            <form class="sn-ajax_sender bodyhide" style="display:none;" action="" id="company_form_update" method="post" enctype="multipart/form-data" data-data="Company" data-type="update" role="form">
              <input type="hidden" name="id" class="form-control not-aothw" value="{% id %}">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2">
                      <input type="text" name="company_name" class="form-control not-aothw" value="{% company_name %}" placeholder="Название">
                    </td>
                    <td>
                      <input type="text" name="description" class="form-control not-aothw" value="{% description %}" placeholder="Описание">
                    </td>
                    <td>
                      <input type="text" name="logo" class="form-control not-aothw" value="{% logo %}" placeholder="Логотип">
                    </td>
                  <tr>
                    <td colspan="6" class="text-right">
                      <button class="btn btn-danger" data-parent="form" onclick="Events.model.deleteModelObject(event, this)" data-id="{% id %}" data-modelname="{% modelname %}">Удалить</button>
                      <button type="submit" class="btn btn-success">Сохранить</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
            <div class="text-center"><a href="#" class="opener-sn" data-target="#company_form">Добавить</a></div>
            <form class="sn-ajax_sender bodyhide" style="display:none;" action="" id="company_form" method="post" enctype="multipart/form-data" data-data="Company" data-type="create" role="form">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2">
                      <input type="text" name="company_name" class="form-control not-aothw" placeholder="Название">
                    </td>
                    <td>
                      <input type="text" name="description" class="form-control not-aothw" placeholder="Описание">
                    </td>
                    <td>
                      <input type="text" name="logo" class="form-control not-aothw" placeholder="Логотип">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-right">
                      <button type="submit" class="btn btn-primary">Отправить</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
          <!-- ОТДЕЛ -->
          <div role="tabpanel" class="tab-pane" id="department"> 
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Отдел</th>
                  <th>Компания</th>
                </tr>
              </thead>
              <tbody>
                <tr onclick="Events.model.getForUpdate(event, this)" data-data="Department" class="templater-snjs from-edit-model sn-clock" id="row-{% _meta.model_name %}-{% _meta.index %}" data-tmpl-up="#department_form_update" sn-repeat="Department.objects" data-target="#department_form, #department_form_update">
                  <td data-name-sn="id">{% id %}</td>
                  <td data-name-sn="department_name">{% department_name %}</td>
                  <td><span data-name-sn="company__id" style="display:none;">{% company__id.id %}</span>{% company__id.company_name %}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- <div class="row marketing">
        <div class="col-lg-24">
          <h4>Персона</h4>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>E-mail</th>
                <th>Телефон</th>
              </tr>
            </thead>
            <tbody>
              <tr class="templater-snjs" sn-repeat="person.objects">
                <td>{% id %}</td>
                <td>{% first_name %}</td>
                <td>{% last_name %}</td>
                <td>{% middle_name %}</td>
                <td>{% email %}</td>
                <td>{% phone_number %}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->

      <div class="row marketing">
        <div class="col-lg-12">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-12">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; AXErTEX 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>